body {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    margin: 0;
}

main {
    position:absolute;
    top: 30px;
    left: 10px;
}

footer {
    text-align: center;
    background-color: rgb(10, 10, 10);
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Titles */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

/* Misc */
.games {
    position:absolute;
    top:60px;
    left:700px;
}