body {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    font-family: monospace;
    margin: 0;
}

main {
    position: relative;
    top: 35px;
    left: 30px;
    margin-bottom: 130px;
}

footer {
    text-align: center;
    background-color: rgb(15, 15, 15);
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.linkt {
    color: rgb(140, 255, 140);
}

.linkt:visited {
    color: rgb(140, 255, 140);
}

/* Table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 1px solid #666666;
    text-align: left;
    padding: 8px;
  }

/* Titles & Text */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

.text {
    margin:0;
    margin-right: 600px;
}

/* Navbar */

nav ul {
    position:fixed; left:5px; top:5px;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 99%;
    background-color: rgb(55, 55, 55);
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(35, 35, 35);
}

li a:visited {
    color: white;
}

/* Images */

.images {
    position: absolute;
    top:30px;
    left:700px;
}

.homeimages {
    position: absolute;
    top:90px;
    left:700px;
}

.squareimage {
    height: 175px;
    width: 175px;
}

.bigsquareimage {
    height: 375px;
    width: 375px;
}

.fristimg {
    position:absolute;
    left:0px;
    top: 0px;
}

.secondimg {
   position:absolute;
   left:200px;
   top: 0px;
}

.thirdimg {
    position:absolute;
    left:0px;
    top:200px;
}

.fourthimg {
    position:absolute;
    left:200px;
    top:200px;
}

.footerimg {
    padding: 5px;
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 70px;
}

/* Background */

.backg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* FAQ */

.faq-buttons {
    display: block;
    text-align: left;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

.faq-list {
    list-style-type: none;
    overflow: hidden;
    margin-top: 80px;
}