.images {
    position:absolute;
    top:60px;
    left:700px;
}

.fristimg {
    position:absolute;
    left:0px;
    top: 0px;
}

.secondimg {
   position:absolute;
   left:200px;
   top: 0px;
}

.thirdimg {
    position:absolute;
    left:0px;
    top:200px;
}

.fourthimg {
    position:absolute;
    left:200px;
    top:200px;
}

.footerimg {
    padding: 5px;
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 70px;
}